@import '../../styles/colors.less';
@import '../../styles/Layers.less';
@import '../../styles/Typography.less';

.story-card-info__hidden {
  display:none;
}

.story-card-grid {
  display: grid;
  align-items: center;
  width: 12rem;
  height: 7rem;
  @media screen and (max-width: @mobile-screen) {
    height: auto;
  }
}

.story-card__counter {
  align-self: end;
}

.story-card {
  user-select: none;
  margin: 0 1rem 0 0;
  transition: opacity 200ms ease-in-out;
  opacity: .75;
  padding: 0.5rem;
  cursor: pointer;
  @media screen and (max-width: @mobile-screen) {
    padding: 0;
    padding-top: .25rem;
  }
  &:hover {
    opacity: 1;
  }
  &__author {
    margin: 0 10px;
    & p {
      margin: 0;
    }
    .story-card__font--author();
  }
  @media screen and (max-width: 600px) {
    &__dates, &__author {display: none;}
  }
}
