@import '../../styles/colors.less';
@import '../../styles/Layers.less';

.story-card-info {
  .float-container();
  user-select: none;
  position: absolute;
  bottom: 105%;
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 300ms ease-in-out;
  &__hidden {
    display:none;
    opacity: 0;
  }
}

.story-card-grid {
  display: grid;
  align-items: center;
  width: 12rem;
  height: 7rem;
}

.story-card__counter {
  align-self: end;
}

.story-card {
  .float-container();
  user-select: none;
  margin: 0 1rem 0 0;
  transition: opacity 200ms ease-in-out;
  opacity: .75;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &__title {
    color: @article-title;
    font-family: 'Lora', serif;
    font-weight: bold;
    line-height: 20px;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    &--dates {
      font-weight: normal;
    }
  }
  &__author {
    margin: 0 10px;
    & p {
      margin: 0;
    }
    color: @text-grey;
    font-size: 0.75rem;
  }
  @media screen and (max-width: 600px) {
    background-color: transparent;
    &__dates, &__author {display: none;}
  }
}
