@import '../../styles/colors.less';
@import '../../styles/Layers.less';

.story-card-info {
  .float-container();
  user-select: none;
  position: absolute;
  bottom: 100%;
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 300ms ease-in-out;
  &__hidden {
    display:none;
    opacity: 0;
  }
}

.story-card {
  .float-container();
  user-select: none;
  margin: 10px 0;
  transition: opacity 200ms ease-in-out;
  opacity: .75;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &--title {
    color: @article-title;
    font-family: 'Lora', serif;
    font-size: 1.125rem;
    text-align: center;
  }
  &--dates {
    color: @story-card-dates;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  &--author {
    margin: 0 10px;
    & p {
      margin: 0;
    }
    color: @text-grey;
    font-size: 0.75rem;
  }
  @media screen and (max-width: 600px) {
    background-color: transparent;
    &--dates, &--author {display: none;}
  }
}

.story-card-status {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.5rem 0;
  color: @text-grey;
  font-family: 'Lora', serif;
  text-align: center;
}
