@import '../../styles/colors.less';

.currentstory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  position: static;
  border: 1px solid #979797;
  background-color: #D8D8D8;
  padding: 0.5rem;
  width: calc(~'100% + 3px');
  transform: translateX(0px);
  color: #4A4A4A;
  font-family: 'Lora-Regular', serif;
  & button {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 0;
    color: #4A4A4A;
    &:focus, &:hover, &:active {
      outline: none !important;
      border: none !important;
    }
    &:hover {
      opacity: 0.7;
      color: @main-blue;
    }
  }
  &__return {
    margin-right: 0.5rem;
  }
}

.currentstory--title {
  margin: auto;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  // margin: 0.25rem 0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  &:focus, &:visited, &:active {
    outline: none;
    border: none;
  }
}
