.feed {
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
  & a {
    color: #515151;
    font-size: 16px !important;
  }
}

/*
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: gray;
  text-decoration: none;
}
*/

