@import '../../styles/colors.less';

.stv-entities {
  margin: 1rem 0;
}

.stv-entities-row__info {
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  align-items: center;
  border: solid 1px;
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  border-color: @dark-grey-blue;
  border-radius: 2px;
  &:hover {
    background-color: #ccc;
  }
}
