server {
   location / {
        root ${HTML_FOLDER};
        try_files $uri $uri/ /index.html;
   }
   location ~* \.(?:css|js)$ {
     root ${HTML_FOLDER};
     access_log        off;
     log_not_found     off;
     add_header Cache-Control "no-cache, public, must-revalidate, proxy-revalidate";
   }
}
