@import '../../styles/colors.less';

button {
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  // flex-direction: row;
  // flex: 1 0 0;
  // justify-content: center;
  align-content: center;
  white-space: nowrap;
  outline: none !important;
  border: none;
  transition: scale 200ms ease-in-out;
  margin: auto;
  font-weight: inherit;
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
  &::-moz-focus-inner {
    border: 0;
  }
  &:active,
  &:focus {
    outline: none !important;
    border: 1px solid @main-blue;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  }
  &.normal {
    height: 36px;
    // height: 2rem;
  }
  &.small {
    height: 25px;
  }
  &.wide {
    height: 36px;
    width: 100%;
  }
  &.auto {
    height: auto;
    width: auto;
  }
  &.huge {
    height: auto;
    width: 100%;
  }
}

button.close {
  vertical-align: baseline;
  position: absolute;
  right: 0;
  top: 0;
  min-width: auto;
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  background: none;
  margin: 0;
  border: none;
  box-sizing: border-box;
  line-height: auto;
  color: inherit;
  transition: none; // chrome hack
  &:hover {
    opacity: 0.7;
    border: none !important;
    box-shadow: none;
    text-shadow: 2px 2px 5px black;
    color: @main-blue;
  }
  &:hover span {
    text-shadow: 2px 2px 5px black;
  }
  &:active {
    color: @dark-grey;
  }
}

button.compact {
  margin-right: 0.5rem;
  width: 1rem;
  height: 2rem;
  padding: 0;
}

button.readmore {
  color: @dark-grey;
  overflow: visible;
  border: none;
  background: none;
  text-align: left;
  word-spacing: normal;
  padding: 0;
  text-decoration: none;
  box-shadow: none;
  &:focus,
  &:active {
    color: @main-blue;
    text-decoration: none;
    box-shadow: inset 0 -1px @main-blue;
  }
  &:hover {
    color: @main-blue;
    text-decoration: none;
    box-shadow: inset 0 -1px @main-blue;
  }
  &:after {
    color: inherit;
    content: '\f105';
    display: inline-block;
    /* stylelint-disable font-family-no-missing-generic-family-keyword */
    font-family: 'fontello';
    font-style: normal;
    font-weight: inherit;
    padding-left: 6px;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    transition-property: transform, -webkit-transform;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease-in-out, ease-in-out;
  }
  &:hover:after {
    transform: translateX(10px);
  }
}

button.basic {
  padding: 3px 15px;
  text-align: center;
  max-width: 120px;
  margin: 0.5rem;
  &:hover {
    border-color: @dark-grey;
    box-shadow: 0 0 2px rgba(45, 183, 245, 0.8);
    opacity: 0.9;
    text-shadow: 1px 1px 1px @grey;
  }
  &.red {
    background-color: @red;
    color: @white;
    &:disabled, &[disabled] {
      background-color: rgba(@red, 0.6);
      color: @light-grey;
    }
  }
  &.vk {
    background-color: #4a76a8;
    color: #fff;
    &:disabled, &[disabled] {
      background-color: rgba(#4a76a8, 0.6);
      color: @light-grey;
    }
  }
  &.black {
    color: #fff;
    background-color: @main-blue;
    &:disabled, &[disabled] {
      background-color: rgba(@main-blue, 0.6);
      color: @light-grey;
    }
  }
  &.transparent {
    color: @black !important;
    // background-color: transparent !important;
    background: none;
    border: 1px solid @border;
  }
  &.light {
    background-color: #fafafa;
    color: black;
    border: 1px solid @border;
    &:disabled, &[disabled] {
      background-color: @disable;
      color: @light-grey;
    }
  }
}

button.ghost {
  padding: 2px;
  background: none;
  border: none;
  max-width: 120px;
  color: inherit;
  height: auto;
  margin: auto;
  line-height: inherit;
  &:hover {
    opacity: 0.7;
    border: none !important;
    box-shadow: inset 0 -1px @main-blue;
    color: @main-blue;
  }
  &:focus {
    // opacity: 0.7;
    border: none !important;
    box-shadow: inset 0 -1px @main-blue;
    color: @main-blue;
  }
}

button.truncate {
  position: absolute;
  background-color: rgba(216, 206, 192, 0.8);
  outline: none;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
  bottom: 0;
  z-index: 90;
  left: 0;
  width: 100%;
  height: 50px;
  max-height: 100px;
  transition: max-height 300ms ease-in-out;
  border-radius: 6px;
  &:hover {
    text-shadow: 2px 2px 5px black;
  }
}

button.icon {
  display: flex;
  flex: 0 1 0;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  // color: red;
  // height: 100%;
  // height: 100%;
  fill: inherit;
  color: inherit;
  background: none;
  // right: 0;
  padding: 5px;
  // top: 0;
  // width: 100%;
  // height: 100%;
  min-width: auto;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
  border: none;
  box-sizing: border-box;
  transition: none; // chrome hack
  &:hover {
    opacity: 0.7;
    border: none !important;
    box-shadow: none;
    text-shadow: 2px 2px 5px black;
    // color: @main-blue;
  }
  &:hover span {
    text-shadow: 2px 2px 5px black;
  }
  &:active, &:focus {
    color: @dark-grey;
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
    text-shadow: 2px 2px 5px black;
  }
}

button.disabled {
  cursor: initial;
  &:hover {
    text-shadow: none;
    opacity: 1;
  }
  &:hover span {
    text-shadow: none;
  }
}