/* Styles for UI components */
@black: #000000;
@main-blue: #013243;
@base02: #2c393f;
@base03: #576872;
@link: #8aaddb;
@border: #707880;
@red: #ea4544;

@dark-grey: #979797;
@grey: #7f7f7f;
@disable: #d5d5d5;
@sidebar: #e9dac5;
@light-grey: #fafafa;
@button-text-inverse: #aaaaaa;
@white: #ffffff;



button {
  cursor: pointer;
  border-radius: 2px;
  background-color: @main-blue;
  color: @dark-grey;
  display: inline-block;
  // margin: 20px;
  display: inline-block;
  border: 1px solid #888;
  border-radius: 2px;
  padding: 3px;
  background: none;
  margin: 0 10px;
  // margin: 0 auto;
  // margin-right: auto;
  height: 36px;
  // outline-color: transparent !important;
  // font-size: 15px;
  // width: auto;
  min-width: 120px;
  // display: inline-block;
  // padding: 9px 12px 10px;
  padding: 3px 15px;
  // background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid @black;
  // overflow: hidden;
  // line-height: 1;
  text-align: center;
  white-space: nowrap;
  outline:none;
  // vertical-align: bottom;
  transition: scale 0.2s ease-in-out;
  &::-moz-focus-inner {
   border: 0;
  }
  // margin-right: 5px;

  &.disabled {
    background-color: @disable;
    color: @light-grey;
  }

  &:hover {
    outline: none !important;
    // opacity: 0.9;
    box-shadow: 0 0 0 2px rgba(250,250,250,.2);
  }

  &:focus {
    outline: none !important;
    border: none !important;
  }

  &:active {
    outline: 0 !important;
    border: none !important;
  }
}

.icon-bar--left {
  left: 0;
  float: left;
}

.icon-bar--right {
  right: 0;
  float: right;
}

.icon-bar--small {
  height: 50px;
  text-align: center;
  z-index: 9;
  //background-color: #123f42;
  color: red;
  background-color: #e9dcc9;
  right: 0;
  position: fixed;
  top: 0;
  float: right;
  width: 50px;
  & button {
    border: none;
    width: 50px;
    background-color: #e9dcc9;
    padding: 14px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    height: 50px;
    min-width: auto;
    border: none;
    text-align: center;
    white-space: nowrap;
    transition: scale 0.2s ease-in-out;

    // background-color: @main-blue;
    // color: @white;
    // display: inline-block;
    // margin-right: auto;
    // outline-color: transparent !important;
    // font-size: 15px;
    // width: auto;
    // display: inline-block;
    // padding: 9px 12px 10px;
    // background-color: rgba(0, 0, 0, 0.2);
    // overflow: hidden;
    // line-height: 1;
    // vertical-align: bottom;

    &:hover {background-color: #d4e1e9;}
  }

  & .fa {color:black}
  &.active {
    background-color: #4CAF50 !important;
  }
}

.icon-bar button:disabled i{
  color: @grey;
}

.icon-bar button.active {
  text-shadow: 2px 2px 2px @black;
}

.icon-bar {
  position: fixed;
  top: 0;
  width: 50px;
  text-align: center;
  z-index: 30;
  //background-color: #123f42;
  // background-color: #e9dcc9;
  background-color: #E9DAC5;
  // box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  // height: 100%;
  height: -ms-viewport-calc(~'100% - 55px');
  height: -webkit-calc(~'100% - 55px');
  height:    -moz-calc(~'100% - 55px');
  height:         calc(~'100% - 55px');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media screen and (max-width: 600px) {
    left: 0 !important;
    position: fixed;
    top: 0 !important;
    // float: left;
    width: 100% !important;
    height: 50px !important;
    position: flex;
    flex-direction: row;

    // justify-content: flex-start;
  }
  & button {
    border: none;
    width: 50px;
    background-color: #e9dcc9;

    padding: 14px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    border: none;
    width: 50px;
    background-color: #e9dcc9;
    padding: 14px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    height: 50px;
    min-width: auto;
    border: none;
    text-align: center;
    white-space: nowrap;
    transition: scale 0.2s ease-in-out;
    & i {color: black;}
    &:hover {background-color: #d4e1e9;}
  }
  & button:hover i {
    color: black;
    text-shadow: 2px 2px 5px black;
  }
  & .fa {color:black}
  &.active {
    background-color: #4CAF50 !important;
  }
}


.sidenav--right {
  right: 0;
  margin-right: 53px;
}

.sidenav--left {
  left: 0;
  margin-left: 53px;
}


/* The side navigation menu */
.sidenav {
  // height: calc(~'100% - 55px');
  // overflow-y: auto;
  // width: 450px; // #TODO
  // position: fixed;
  // z-index: 20;
  // overflow-x: hidden;
  // padding-top: 0px;
  // transition: 0.8s;
  // background-color:rgba(233, 218, 197, 0.73);
  // top: 0;
  // box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  position: fixed;
  top: 10px;
  max-width: 350px;
  min-width: 300px;
  z-index: 20;
  height: auto;
  overflow-y: auto;
  background-color:rgba(233, 218, 197, 0.73);
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  padding-bottom: 40px;

  & .feed-panel {
    // overflow-y: auto;
    // overflow-x: hidden;
    //max-height: calc(~'100% - 200px');
    // max-height: 500px;
    margin-bottom: 50px;
  }
  & .export-buttons {
    position: relative;
    width: 100%;
    text-align: center;
    // align-self: flex-end;
    margin-top: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;

    & button {
      display: inline-block;
      border: 1px solid #888888;
      border-radius: 3px;
      padding: 3px;
      background: none;
      margin: 10px auto;
    }
    & a {display: inline-block;}
  }
  & a {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    // font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {color: #f1f1f1;}
  }
  h3 {
    font-size: 26px;
    text-align: center;
    margin: 8px 8px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    // color:red;
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.search{text-align: center;}


.sidepanel--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-size: 14px;
  text-align: justify;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
  h5 {
    font-size: 16px;
    font-weight: 700;
  }
}

select {
    width:auto;
    display:inline-block;
}

.PlayButtons {
  text-align: center;
  margin: auto;
}

.yprControl {
  padding: 10px 2px;
  text-align: center;
}

.test {
  text-align: center;
}

.layerControl {
  text-align: left;
  margin-top: 15px;
  & h5 {
    text-align: center;
  }
  & label {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    margin-bottom: 4px;
  }
}
.detailSlider {
    width: 250px;
    margin: 10px 2px;
  }


// SearchPanel Options
.search {
  text-align: left;
  /* webkit solution */
  & -webkit-input-placeholder { text-align:right; }
  /* mozilla solution */
  & -moz-placeholder { text-align:right; }
  & input {text-allign: left; width: 90%; height: 35px; margin: 20px 20px; }
  & p {margin-left: 20px;}
}


@media screen and (max-width:600px) {
  .sidenav {
    // height: calc(~'100% - 85px');
    height: auto;
    margin-top: 50px;
    width:  100%;
    height: calc(~'100% - 138px');
  }

  .icon-bar {
    height: -ms-viewport-calc(~'100% - 138px');
    height: -webkit-calc(~'100% - 138px');
    height:    -moz-calc(~'100% - 138px');
    height:         calc(~'100% - 138px');
  }

  .sidenav--right, .sidenav--left {
    margin-top: 50px;
    margin: 0;
  }
}


.vertical--logo {
  align-self: flex-end;
  user-select: none;
  line-height: 50px;
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  & img {
    display: block;
    width: 42px;
    margin: 0 4px;
  }
  @media screen and (max-width:600px) {
    display: none;
  }
}


.layerControl p{
  display: inline;
  text-align: left;
  font-size: 14px;
}
