@import '../../styles/colors.less';

.timepanel {
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 8;
  color: white;
  fill: white;
  background: @main-blue;
  display: none;
  @media screen and (min-width: 600px) {
    display: flex;
    flex-direction: row-reverse;
  }
}
