@import '../../styles/colors.less';

.yearinput__window {
  position: fixed;
  z-index: 50;
  bottom: 60px;
  box-sizing: border-box;
  left: 100px;
  width: 300px;
  background: white;
  border: 1px solid @border;
  border-radius: 2px;
  text-align: center;
  display: block;
  height: auto;
  @media screen and (max-width: 540px) {
    width: 90%;
    bottom: 130px;
    left: 5%;
  }
}

.yearinput__title {
  border-bottom: 1px solid rgba(0, 0, 255, 0.5);
  padding: 0.5rem;
  margin: 0.5rem;
}

.yearinput__form {
  // grid-column: 1 / span 2;
  // grid-row: 2/3;
  height: 200px;
  overflow-y: hidden;
}

.yearinput__button {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0, 0.5);
  background: none;
  background-color: none;
  margin: 0.5rem;
  &[disabled] {
    border: 1px solid rgba(0,0,0, 0.3);
    color: rgba(0,0,0, 0.3);
    &:hover {
      border: 1px solid rgba(0,0,0, 0.3);
      outline: none;
      box-shadow: none;
    }
  }
}

.yearinput__window .yearinput__input {
  border: none;
  font-size: 36px;
  line-height: 36px;
  color: #666;
  height: 36px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.yearinput__error {
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}
