
@base00: white;
@base01: #eee;

// #timeline {
// 	font-size: 12px;
// 	position: fixed;
// 	bottom: 0px;
// 	width: 100%;

// 	// margin-left: 0px;
// 	// margin-right: 0px;
//   margin: 0;
// 	padding: 0;
// 	z-index: 8;
// 	color: white;
// 	height: 55px;
// 	background: #02364C;
// 	opacity: 0.95;
// 	&.svgTime {
//     display: inline-block;
//    	vertical-align: middle;
//     // left: 50%;
//     border: none;
//     // transform: translateX(-50%);
//     position: relative;
// 	}
// }

.axisTime {
	color:white;

	& line {stroke:white;}
	& path {stroke:white;}
	& text {fill: white; stroke:none;}
}

.arrow {
	fill: white;
  pointer-events: none;
  & polyline {
  	fill: none;
  	opacity: 0;
  }
  & text {
  	text-decoration: underline;
  }
}
// disable selectable text
.svgTime text {
	pointer-events: none;
  height: 55px;
}

 .playButton {
  // height: 55px;
  text-align: right;
  margin: 0;
    display: inline-block;
    // float: left;
    //height: 55px;
    // padding-left: 50px;
    font-size: 12px;
    vertical-align: middle;
    // height: 55px;
    line-height: 55px;
    text-align: center;
    //width: 10px;
    & button {
      // float: right;
      background: none;
      border: none;
      margin-right: 10px;
      // border-radius: 5px;
      // width: 20px;

      &:hover {
        color: #bbb;
      }
      & .active {
        border-color: red;
      }
    }
  }


@media screen and (max-width:600px) {
  #timeline {height: 85px;}
  & .playButton {width:100%; line-height: 25px; height: 25px; text-align: center; }
}

.yearInput {
//   //   height: 25px;
//   // // min-width: 200px;
//   // border-style: solid;
//   // border-width: 1px;
//   // border-radius: 2px;
//   // border-color: @border;
//   // padding: 0 5px;
//   // font-size: 14px;
//   // margin-bottom: 6px;
//   // display: block;

//   display: inline-block;
//   box-sizing: border-box;
//   border: none;
//   vertical-align: middle;
//   background: transparent;
//   display: flex;
//   margin: 0;
//   padding: 0;
//   outline: none;
//   border: none;
//   text-align: center;
  width: 60px;
//   height: 35px;
//   // float: right;
//   color: transparent;
//   text-shadow: 0 0 0 white;
//   letter-spacing: 0.5px;
//   font-size: 24px;
//   font-weight: 200;

//   height: 35px;
//   padding: 0;
//   margin: 0;
//   font-size: 25px;
//   line-height: 25px;
//   display: inline-block;
//   vertical-align: middle;
//   background: none;
//   box-sizing: border-box;
//   border: none;
//   outline: none;
//   min-width: 0;
//   width: auto;
//   height: auto;
//   &:hover {
//     color: #bbb;
//   }
//   &:focus {
//     outline: none;
// }
}

.error.yearInput { border-bottom: 2px solid red; }

.col-sm-4,
.col-sm-pull-8,
.col-sm-8,
.col-sm-push-4
{
  margin: 0;
  // height: 55px;
}


.timepanel {
  display: flex;
  flex-direction: column;
  // font-size: 12px;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 8;
  // height: 200px;
  // color: white;
  // height: 55px;
  background: #02364C;
  opacity: 0.95;
  // &.svgTime {
  //   display: inline-block;
  //   vertical-align: middle;
  //   // left: 50%;
  //   border: none;
  //   // transform: translateX(-50%);
  //   position: relative;
  // }
  @media screen and (min-width: 600px) {
    flex-direction: row-reverse;
  }
}

.timepanel__controls {
  width: 100%;
  color: white;
  height: 55px;
  padding: auto;
  text-align: right;
  margin: 0;

  display: inline-block;
  // float: left;
  //height: 55px;
  // padding-left: 50px;
  font-size: 26px;
  line-height: 50px;
  vertical-align: middle;
  // height: 55px;
  // line-height: 55px;
  text-align: center;
  //width: 10px;
  & button, & input {
  //   // float: right;
    display: inline-block;
    height: 35px;
    font-size: 26px;
    line-height: 26px;
    padding: 0;
    vertical-align: middle;
    background: none;
    box-sizing: border-box;
    border: none;
    min-width: 0;
    // width: auto;
    // height: auto;
    color: white;
    text-shadow: 0 0 0 white;
    letter-spacing: -0.5px;
    font-weight: 300;
    font-family: 'OpenSans-Light';
    &:hover i {
      text-shadow: 2px 2px 2px black;
      opacity: 0.7;
    }
  //   margin-right: 10px;
  //   // border-radius: 5px;
  //   // width: 20px;

  //   &:hover {
  //     color: #bbb;
  //   }
  //   & .active {
  //     border-color: red;
  //   }

}}

.timepanel__slider {

}

.timepanel__feedbutton {
  background: none;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 10px;
  display: block;
  border: none;
  outline: none;
  color: white;
  @media screen and (min-width: 600px) {
    display: none;
    color: red;
  }
}

/*.axisTime {
  & g text {
    display: none;
  }
  & g line {
    display: none;
  }
}
*/
