body {
  margin: 0 0;
  font-family: "Segoe UI", "Helvetica", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

.content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.factHeader{
  float:left;
  width: 100%;
}
.factDate {
  text-align: right;
  float:right;
}
.factAuthor {
  opacity: 0.5;
}
.factAlreadyOccured {
  color: #690;
  transition: color 1s;
}
.factStillInFuture{
 color: #000;
}
.PinVisible{
  transition: 0.3s all;
}
.PinInvisible{
  transition: 0.3s all;
  opacity: 0;
}
.inputNum{
  width:4em;
}
