.header {
  text-align: center;
  font-size: 15pt;
  height: 5em;
  border-bottom: steelblue;
  border-style: solid;
  border-width: 0px 0px 6px 0px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-right: 60px;
}
.playButton{
  float: right;
  margin-right: 20px;
}
.playButton Button {
  width: 100px;
}
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.svgMap {
  float: left;
  width: 70%;
  height: 80vh;
  margin-top:5vh;
  border-bottom: steelblue;
  border-style: inset;
  border-width: 3px 3px 3px 3px;
}
.svgMapTerrain {
  fill: steelblue;
  stroke: gray;
  stroke-width: 0.4px;
}
.svgMapBorders {
  fill: none;
  stroke: black;
}
.factHeader{
  float:left;
  width: 100%;
}
.factDate {
  text-align: right;
  float:right;
}
.factAuthor {
  opacity: 0.5;
}
.factAlreadyOccured {
  color: #690;
  transition: color 1s;
}
.factStillInFuture{
 color: #000;
}
.PinVisible{
  transition: 0.3s all;
}
.PinInvisible{
  transition: 0.3s all;
  opacity: 0;
}
.inputNum{
  width:4em;
}
