.feed {
  text-align: center;
  font-size: 14px;
  & a {
    color: #515151;
    font-size: 16px !important;
  }
  & .btn-group {
    text-align: center;
    margin-bottom: 15px;
  }
  & .feedFact {
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
  }
  & .factStillInFuture {
    padding: 10px 5px 0px 5px;
  }
  & .factAuthor {
    color: #657786;
    opacity: 0.9;
    font-size: 14px;
  }
}

.factHeader{
  float:left;
  width: 100%;
  font-weight: bold;
}

.factDate {
  text-align: right;
  float:right;
  color: #657786;
  font-size: 16px;
  font-weight: normal;
}

.factAlreadyOccured {
  color: #690;
  transition: color 1s;
}
.factStillInFuture{
 color: #000;
}
.factAlreadyOccured:hover, .factStillInFuture:hover{
  border: 5px;
}

.regularFact {
  margin-bottom: 5px !important;
  border: solid 1px transparent;
  border-radius: 15px;
  &:hover {
      background-color: rgba(180, 180, 180, 0.9);
      border: solid 1px red;
  }
}
.selectedFact {
  margin-bottom: 5px !important;
  background: rgba(150, 150, 150, 0.7);
  border: solid 1px red;
  border-radius: 15px;
  &:hover {
      background-color: rgba(120, 120, 120, 0.7);
      border: solid 1px red;
  }
}
/*
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background: gray;
  text-decoration: none;
}
*/

