@import '../../styles/colors.less';

.mistake-report {
  border: 1px solid @border;
  border-radius: 2px;
  background-color: @light-grey;
  z-index: 100;
  position: fixed !important;
  padding: 10px 30px;
  box-sizing: border-box;
  width: 600px;
  height: auto;
  max-width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  & textarea {
    width: 100%;
  }
  & input, & .rc-input-number {
    margin-right: 15px;
    margin-bottom: 5px;
  }
  @media screen and (max-width: 600px) {
    left: 0;
    top: 0;
    transform: none;
    width: 100%;
    height: 100%;
  }
}

.feedback--line {
  display: flex;
  vertical-align: middle;
  justify-content: left;
  margin-bottom: 4px;
}
