@import '../../styles/colors.less';

.article {
  position: fixed;
  margin: 0 auto;
  z-index: 150;
  border: 1px solid @article-border;
  border-radius: 4px;
  background-color: rgba(250, 250, 250, 0.9);
  padding: 1rem 2rem;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 60%;
  max-width: 1000px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  @media screen and (max-width: 600px) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    height: 80%;
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

.article--title {
  font-family: 'Lora', serif;
  color: @article-title;
  text-align: center;
  font-style: bold;
  font-size: 2rem;
  margin: 2rem auto;
  @media screen and (max-width: 600px) {
    margin: 1rem auto;
    font-size: 1.5rem;
  }
}

.article--body--container {
  height: 300px; //hack
}

.article--body {
  column-count: 2;
  column-fill: balance;
  -moz-column-fill: balance;
  // -webkit-column-fill: auto;
  font-size: 0.875rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 600px) {
    column-count: 1;
  }
}
