@base00: #263238; //
@base01: #2c393f; //
@base02: #37474f; //
@base03: #707880; //
@base04: #c9ccd3; //
@base05: #cdd3de; //
@base06: #d5dbe5; //
@base07: #ffffff; //
@base08: #ec5f67; //
@base09: #ea9560; //
@base0a: #ffcc00; //
@base0b: #8bd649; //
@base0c: #80cbc4; //
@base0d: #89ddff; //
@base0e: #82aaff; //
@base0f: #ec5f67; //

@heading__c:  #a5d8eb;
@title__c: #293f70;
@text_c: #8a8a8a; // inb4: #9A9A9A


@gutter: 30px;
@border-width: 4px;
@dot-diameter: 10px;
@dot-diameter--selected: 14px;
@timeline__width: 400px;
@timeline__width--min: 400px;
@box-size: 57px;


.timeline {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow-x: hidden;
  // float: right;
  max-width: @timeline__width;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // overflow-y: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 4px dotted #888;
  &:focus {
    border: none;
    outline: none;
    padding: 0;
  }
  // &::before {
  //   content: '';
  //   z-index: 100;
  //   // position: absolute;
  //   border: none;
  //   // border-left-style: dotted;
  //   // border-left-color: #888;

  //   top: 0;
  //   width: 100%;
  //   height: 100vh;
  //   // bottom: 0;
  //   background-color: rgba(255, 255, 255, 0.7);
  //   // background-color: rgba(127, 127, 255, 0.6); //test

  //   @media screen and (max-width: 40em) {
  //     width: 98%;
  //     left: calc(~'2%');
  //   }
  // }
  &::after {
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    filter: blur(40px);
    border: 1px solid #fff;
    background-color: rgba(230, 240, 255, 0.7);
    background-blend-mode: exclusion;
  }
}

.timeline__minified {
  width: @timeline__width--min;

  .timeline__entry .timeline__title {
    display: none;
  }

  .timeline__entry--selected .timeline__title {
    display: block;
  }

  .timeline__entry--selected {
    overflow: hidden;

    &::before {
      left: 0;
      z-index: -1;
      content: '';
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      width: calc(~'100% -' @box-size);
      height: calc(~'100% + 15px');
    }

    .timeline__heading::before {
      left: -2px; //HARDCODED
    }
  }
  @media screen and (max-width: 40em) {
    width: @box-size;
    height: 50px;

    &::before {
      border-left: none;
    }

    .event__container {
      display: none; // #REPLACE
      overflow-y: hidden;
    }

    .control__up {
      display: none;
    }

    .control__down {
      display: none;
    }
  }

  &::before {
    width: @box-size;
    left: calc(~'100% - ' @box-size);
  }

  .timeline__entry {
    // width: 48%;
    width: auto;
    left: 0;

    .timeline__heading {
      width: @box-size;
      padding: 0 5px;
      text-align: center;
      right: 0;

      &::before {
        left: -2.5px; //HARDCODE
      }
    }

    .timeline__title {
      width: calc(~'100% -' @box-size);
      float: left;
    }

    .timeline__text {
      width: calc(~'100% -' @box-size);
      float: left;
    }
  }

  .timeline__control {
    width: @box-size;
  }
}

// .timeline__control {
//   &:hover {

//   }
// }

.shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.4);
}
