@import '../../styles/colors.less';
@import '../../styles/Layers.less';

.layer-toggle__container {
  display: grid;
  grid-template-columns: 3rem;
  grid-template-rows: 2rem 1rem;
  grid-gap: .25rem 0.25rem;
  align-items: center;
  justify-items: center;
  @media screen and (max-width: @mobile-screen) {
    grid-template-columns: initial;
    grid-template-rows: initial;
  }
}

.layer-toggle__label {
  align-self: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 3rem;
}

.round-button {
  width: 2rem;
  height: 2rem;
  align-self: center;
  pointer-events: all;
  box-shadow: @base-shadow;
  outline: none;
  transition: background-color ease-in-out 60ms;
  // transition: opacity ease-in-out 300ms;
  border-radius: 100%;
  // background-repeat: no-repeat;
  background-color: @sidebar;
  // background-position: center center;
  &:hover {
    background-color: #ccc;
  }
}

.image-button {
  width: 100%;
  height: 100%;
  opacity: .75;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  &:active {
    transform: translateY(1px);
  }
  &-sprite:active {
    transform: rotate(-135deg) translateY(1px);
  }
  &__checked {
    opacity: 1;
  }
}
