.narrative-desktop-controls {
  z-index: 2;
  position: fixed;
  left: 2rem;
  top: 2rem;
}

.narrative-desktop-controls-grid {
  display: grid;
  grid-template-columns: 7rem 5rem;
  grid-template-rows: 8rem 2rem auto;
  grid-row-gap: 1rem;
}

.narrative-desktop-stories-grid {
  display: grid;
  padding: 2rem 2rem;
  grid-template-rows: auto 8rem;
  grid-auto-columns: 22rem;
  grid-gap: 2rem 2rem;
}
