.overlay {
  cursor: pointer;
  // z-index: 3;
  margin-right: 60px !important;
  text-align: center;
  & p {color: white; text-align: center;}
  & h4 {
    color:white;
    text-align: center; margin:
    50px 50px; font-weight: 400;
    padding: 1% 1%; z-index: 13;
    line-height: 1.5em;
    // text-shadow: 0 0 3px #000;
    text-shadow: 2px 2px 4px #000000;
    min-height: 220px;
  }
  & circle {
    position:absolute;
  }
  & svg {
    position: absolute;
  }
  & .containter {
    padding: 10px 20px;
    max-width: 1040px;
  }
& .text-center {
    display: block;
    position: absolute;
    line-height: 24px;
    font-size: 24px;
    margin-left: 5%;
    margin-right: 5%;
    top: 20%;
    margin: 60px 60px;
    z-index: 100;
  }
  & button {margin-top: 30px;}
}

.slick-dots li button:before{
    color:white !important;
}

.slider {
  margin-top: 80px;
  min-height: 350px;
  & button {
    width: 100px;
    height: 35px;
    margin: 20px 20px;
    z-index: 50;
  }
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.icon-bar-spots {
  position: fixed;
  top: 0;
  float: right;
  right: 0;
  width: 100px;
  height: 100%;
}

.overlay-timeline {position: fixed; bottom: 0; height: 55px; width: 100%;}

.overlay-iconbar {position: fixed; right: 0; height: calc(~'100% - 55px'); width: 50px; z-index: 3; margin-right: 2px; }

.overlay-survey {position: fixed; right: 0; top: 250px; height: 50px; width: 50px; z-index: 2;}

.overlay-invention {position: fixed; right: 0; top: 200px; height: 50px; width: 50px; z-index: 2;}

.overlay-feed {position: fixed; right: 0; top: 100px; height: 50px; width: 50px; z-index: 2;}

.overlay-home {position: fixed; right: 0; top: 0; height: 50px; width: 50px; z-index: 2;}

.overlay-legend {position: fixed; right: 0; top: 150px; height: 50px; width: 50px; z-index: 2; }

.overlay-timecontrol { position: fixed; bottom: 0; height: 55px; width: 250px;}


@media screen and (max-width:768px) {
  .overlay-timecontrol {right: 25%; height: 22px; width: 50%; min-width: 225px; }
  .overlay-timeline {height: 80px;}
  .overlay-iconbar {height: calc(~'100% - 80px');}
  // .slider {margin-bottom: 85px;}
  // .slider > .text-center > h4 {margin-bottom: 85px; color:red; height:50%; overflow-y: hidden;}
  .slider {
    margin-top: 5px;
    min-height: 1px;
    text-align: center;
    margin-right: 45px;
    margin-top: 5px;
    margin-left: 25px;
    vertical-align: middle;
    & h4 {
      color:white;
      font-size: 13px;
      margin: 1px 1px;
      vertical-align: middle;
    }
    & button {margin-top: 30px; text-size:14; width: 80px;}

  }
}
