.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.modal-fix {
    /* some styles to position the modal at the center of the page */
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    
    height: 500px;
    margin-left: -400px;
    margin-top: -250px;
    background-color: white;
    text-align: left;
    box-shadow: 2px 2px 4px #000000;
  
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}


.modal-header {margin: 10px 10px;}

.test {
  line-height: 20px;
}


.modal-fix {
  //  width: 150px;
  //  height: 150px;
    overflow-y: scroll;
}