/* Styles for UI components */

.icon-bar {
  position: fixed;
  top: 0;
  float: right;
  right: 0;
  width: 50px;
  height: 100%;
  text-align: center;
  //background-color: #123f42;
  background-color: #e9dcc9;
  height: 100%;
  // height: -webkit-calc(100%);
  // height:    -moz-calc(100%);
  // height:         calc(100%);
  & button {
    border: none;
    width: 50px;
    background-color: #e9dcc9;
    padding: 16px;
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
    &:hover {background-color: #d4e1e9;}
  }
  & .fa {color:black}
  &.active {
    background-color: #4CAF50 !important;
  }
}



/* The side navigation menu */
.sidenav {
  height: 100%;
  // height: -webkit-calc(100% - 100px);
  // height:    -moz-calc(100%-100px);
  // height:         calc(100% - 65px);
  margin-bottom: 100px;
  padding-bottom: 100px;
  text-align: center; 
  width: 350px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  margin-right: 50px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 20px from the top */
  transition: 0.8s; /* 0.5 second transition effect to slide in the sidenav */
  background-color:rgba(233, 232, 228, 0.9);
  & a {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    // font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {color: #f1f1f1;}
  }
  h3 {
    font-size: 26px;
    text-align: center;
    margin: 8px 8px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color:red;
  }
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}