#timeline {
	font-size: 24px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 0;
	z-index: 100;
	color: white;
	background: #02364C;
	opacity: 0.5;
	&.svgTime {
    display: inline-block;
   	vertical-align: middle;
    // left: 50%;
    border: none;
    // transform: translateX(-50%);
    position: relative;
	}
	& .playButton {
		display: inline-block;
		float: left;
		height: 65px;
		padding-left: 50px;
		font-size: 24px;
		vertical-align: middle;
		line-height: 65px;
	  text-align: center;
	  //width: 10px;
		& button {	
			background: none;
			border: none;
			margin-right: 30px;
			// border-radius: 5px;
			width: 20px;
			& .active {
				border-color:red;
			}
		}
	}
	.fa {color: white;}
}

.axisTime {
	color:white;
	stroke: white;
	& line {stroke:white;}
	& path {stroke:white;}
	& text {fill: white;}
}

.arrow {
	fill: white;
  pointer-events: none;
  & polyline {
  	fill: none;
  }
}

.active {
	fill: white;
}
// disable selectable text
.svgTime text {
	pointer-events: none;
}
