#timeline {
	font-size: 12px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 0;
	z-index: 100;
	color: white;
	height: 55px;
	background: #02364C;
	opacity: 0.95;
	&.svgTime {
    display: inline-block;
   	vertical-align: middle;
    // left: 50%;
    border: none;
    // transform: translateX(-50%);
    position: relative;
	}
	& text {}
	& .playButton {
		display: inline-block;
		float: left;
		height: 55px;
		padding-left: 50px;
		font-size: 12px;
		vertical-align: middle;
		line-height: 55px;
	  // text-align: center;
	  //width: 10px;
		& button {	
			background: none;
			border: none;
			margin-right: 20px;
			// border-radius: 5px;
			// width: 20px;
			& .active {
				border-color:red;
			}
		}
	}
	.fa {color: white;}
}

.axisTime {
	color:white;

	& line {stroke:white;}
	& path {stroke:white;}
	& text {fill: white; stroke:none;}
}

.arrow {
	fill: white;
  pointer-events: none;
  & polyline {
  	fill: none;
  	opacity: 0;
  }
  & text {
  	text-decoration: underline;
  }
}
// disable selectable text
.svgTime text {
	pointer-events: none;
}
