@box-size: 57px;

.timeline__buttons {
  button a {
    color: inherit;
  }
  // clear: both;
  // display: inline-block;
  // // margin-bottom: .5em;
  float: right;
  // // text-decoration: underline;z
  width: auto;
  height: @box-size;
  // // text-align: left;
  // // padding-left: 0.3em;
  // // position: relative;
  // // right: 50%;
  // z-index: 8;
  // position: absolute;
}