{
  "config": {
    "apiKey": "",
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": "",
    "messagingSenderId": "",
    "appId": ""
  },
  "methods": ["GoogleAuthProvider", "FacebookAuthProvider", "TwitterAuthProvider", "EmailAuthProvider"]
}