// @import "../../colors.less";

@base01: #222; //
@base02: #000;
@border-decor: rgba(238, 238, 238, 0.3); // Head decor

@hex--height: 20em;
@hex--height_modile: 12em;
@hex--width: 11em;
@hex--med: 2em;
@hex--mod: 2em;
@hex--color: rgba(255, 255, 255, 0.6);
@hex-color-hover: rgba(255, 255, 255, 0.3);

.starpage__title {
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  border-left: 1px @border-decor solid;
  margin: 0 40px;
  padding: 40px 0 10px;
  color: white;
  text-align: left;
  padding-left: 40px;
  & h3 {
    font-weight: 300;
    font-size: 2rem;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -40px;
    width: 600px;
    height: 0;
    border-bottom: 1px @border-decor solid;
    @media screen and (max-width: 725px) {
      width: 100%;
      left: -10px;
    }
  }

  @media screen and (max-width: 725px) {
    text-align: center;
    margin: auto 20px auto 10px;
    padding: 10px 0 10px;
  }
}



.startpage__langswitch {
  margin: auto 20px auto 40px;
  text-align: right;
  border-left: 1px @border-decor solid;
  & button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  @media screen and (max-width: 725px) {
    margin: auto 20px auto 10px;
  }
}

.startpage__container {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./world_map.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: gray;
  line-height: 33px;
  text-align: center;
  min-width: 320px;
}

.tile__container {
  padding-top: 20px;
  margin: auto 40px;
  border-left: 1px @border-decor solid;

  @media screen and (max-width: 725px) {
    margin: 0 10px;
  }
}

.hex-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-right: calc(@hex--width*0.25);

  @media screen and (max-width: 725px) {
    flex-direction: column;
    margin-right: 20px;
    margin-left: 10px;
  }
}

.hex-row.odd {
  margin-top: calc(-@hex--height/2 ~'- 12px');
  @media screen and (max-width: 725px) {
    margin-top: 0;
  }
}
