.dashboard-search {
  margin: .25rem;
  height: 34px !important;
  width: calc(100% - 3rem);
  background-image: url('./magnifier.svg');
  background-position: 98% 6px;
  padding-right: 1rem;
  padding-left: 1rem;
  background-repeat: no-repeat;
}
