@font-face {
  font-family: Roboto-Light;
  src: url(./assets/Roboto-Light.ttf);
}

body {
  margin: 0 0;
  font-family: Roboto-Light, sans-serif;
  -webkit-font-smoothing: antialiased;
  // letter-spacing: 0.02em;
}

.content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.inputNum{
  width:4em;
}
.Legend{
  text-align: left;
  & span{ margin-left: 10px;}
}
