body {
  margin: 0 0;
  font-family: "Segoe UI", "Helvetica", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.02em;
}

.content {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}


.PinVisible{
  transition: 0.3s all;
}
.PinInvisible{
  transition: 0.3s all;
  opacity: 0;
}
.inputNum{
  width:4em;
}
.Legend{
  text-align: left;
  & span{ margin-left: 10px;}
}
