@import '../../styles/colors.less';

.timepanel__controls {
  width: 100%;
  color: inherit;
  fill: inherit;
  height: 55px;
  padding: auto;
  text-align: right;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  vertical-align: middle;
  // float: left;
  //height: 55px;
  // padding-left: 50px;
  font-size: 26px;
  line-height: 50px;
  // height: 55px;
  // line-height: 55px;

  & button,
  & input {
    color: inherit;
    fill: inherit;
    margin: 0 1px;
    display: inline-block;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    line-height: 32px;
    // width: 20px;
    border-radius: 5px;
    padding: 3px;
    // vertical-align: baseline;
    // background: none;
    box-sizing: border-box;
    border: none;
    min-width: 0;
    background-color: transparent;
    // width: auto;
    // height: auto;
    // text-shadow: 0 0 0 white;
    letter-spacing: -1px;
    font-weight: 350;
    &:hover {
      // background-color: rgba(2, 54, 76, 0.4);
      // background-color: #1b4A5d;
      // color: rgba(255, 255, 255, 0.2);
      opacity: 0.7;
      & i, & svg {
        color: @main-blue;
        // text-shadow: 2px 2px 2px @white;
        text-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
        opacity: 0.7;
      }
    }
    &:hover {
      box-shadow: none;
    }
  //   margin-right: 10px;
  //   // border-radius: 5px;
  //   // width: 20px;

  //   &:hover {
  //     color: #bbb;
  //   }
  //   & .active {
  //     border-color: red;
  //   }
}}
