@font-face {
  font-family: Lora-Bold;
  src: url(../../assets/Lora-Bold.ttf);
}


.errorPage {
  text-align: center;
  // padding-bottom: 160px;
  // @media screen and (max-width: 768px) {
  //   padding-bottom: 230px;
  // }


  // & .background {
  //   min-width: 360px;
    // width: 360px;
  //   margin: 0 auto;
  //   // padding-bottom: 220px;
  //   & img {
  //     // height: 100%;
  //     // height: auto;
  //     display: inline-block;
  //     text-align: center;
  //     margin: 0 auto;
  //     @media screen and (max-width: 768px) {
  //       width: 360px;
  //     }
  //   }
  // }

  & .background {
    min-width: 360px;
    // width: 360px;
    margin: 0 auto;
    // padding-bottom: 220px;
    &__single {
      // width: 200px;
      height: 300px;
      // height: auto;
      display: inline-block;
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 540px) {
        height: 300px;
      }
    }
  }

  .over {
    position: absolute;
    height: 300px;
    top: 200px;
    color: rgba(0, 0, 0, 0.8);
    left: calc(~'50vw - 160px');
    @media screen and (max-width: 540px) {
      height: 250px;
      left: calc(~'50vw - 140px');
    }
  }

  .under {
    position: absolute;
    height: 300px;
    top: 200px;
    left: calc(~'50vw - 40px');
    @media screen and (max-width: 540px) {
      height: 250px;
      left: calc(~'50vw - 40px');
    }
  }
}

.overlap {
  position: absolute;
}

.errorPage__title {
  a {
    color: black;
  }
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  padding: auto;
  & h1 {
    font-family: Lora-Bold;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
      color: rgba(47,47,47, 0.9);
    &:hover {
    color: rgba(58,58,58, 0.8);
    }
  }
  & img {
    display: inline-block;
    height: 55px;
    // padding: 5px 10px;
    margin: 5px 10px 15px 10px;
  }
}
